In [ ]:
import evalml
import pandas as pd

In [ ]:
df = pd.read_csv("Avenger_Assemble.csv")
df

,Unnamed: 0,bike_price,km_driven,make_year,bike_name,bike_model,bike_address,state
0,0,"₹ 45,000","34,361 km",2019.0,Bajaj,Pulsar,"Alapati Doctor Colony, Visakhapatnam, Andhra P...",AndhraPradesh
1,1,"₹ 2,00,000","9,000 km",2019.0,KTM,390 Duke ABS,"MVP Colony, Visakhapatnam, Andhra Pradesh",AndhraPradesh
2,2,"₹ 1,35,000","17,000 km",2019.0,KTM,Others,"NAD, Visakhapatnam, Andhra Pradesh",AndhraPradesh
3,3,"₹ 1,10,000","28,000 km",1992.0,Royal Enfield,Bullet,"Vajiapalem, Visakhapatnam, Andhra Pradesh",AndhraPradesh
4,4,"₹ 50,000","51,400 km",2015.0,Bajaj,Avenger,"Dasanna Pet, Vizianagaram, Andhra Pradesh",AndhraPradesh
...,...,...,...,...,...,...,...,...
9826,9826,"₹ 87,500","1,700 km",2019.0,TVS,Apache RTR,"Azadpur, Delhi, Delhi",Delhi
9827,9827,"₹ 40,000","55,000 km",2015.0,Suzuki,Gixxer,"Abul Fazal Enclave Part 1, Delhi, Delhi",Delhi
9828,9828,"₹ 80,000","25,000 km",2017.0,Yamaha,YZF R,"Ranhola, Delhi, Delhi",Delhi
9829,9829,"₹ 1,80,000","15,700 km",2019.0,Royal Enfield,Classic,"Mayur Vihar Phase 3, Delhi, Delhi",Delhi
9830,9830,"₹ 1,25,000","35,296 km",2017.0,Royal Enfield,Classic,"Tilak Nagar, Delhi, Delhi",Delhi

In [ ]:
df.drop(columns=["Unnamed: 0"],inplace=True)

In [ ]:
df

,bike_price,km_driven,make_year,bike_name,bike_model,bike_address,state
0,"₹ 45,000","34,361 km",2019.0,Bajaj,Pulsar,"Alapati Doctor Colony, Visakhapatnam, Andhra P...",AndhraPradesh
1,"₹ 2,00,000","9,000 km",2019.0,KTM,390 Duke ABS,"MVP Colony, Visakhapatnam, Andhra Pradesh",AndhraPradesh
2,"₹ 1,35,000","17,000 km",2019.0,KTM,Others,"NAD, Visakhapatnam, Andhra Pradesh",AndhraPradesh
3,"₹ 1,10,000","28,000 km",1992.0,Royal Enfield,Bullet,"Vajiapalem, Visakhapatnam, Andhra Pradesh",AndhraPradesh
4,"₹ 50,000","51,400 km",2015.0,Bajaj,Avenger,"Dasanna Pet, Vizianagaram, Andhra Pradesh",AndhraPradesh
...,...,...,...,...,...,...,...
9826,"₹ 87,500","1,700 km",2019.0,TVS,Apache RTR,"Azadpur, Delhi, Delhi",Delhi
9827,"₹ 40,000","55,000 km",2015.0,Suzuki,Gixxer,"Abul Fazal Enclave Part 1, Delhi, Delhi",Delhi
9828,"₹ 80,000","25,000 km",2017.0,Yamaha,YZF R,"Ranhola, Delhi, Delhi",Delhi
9829,"₹ 1,80,000","15,700 km",2019.0,Royal Enfield,Classic,"Mayur Vihar Phase 3, Delhi, Delhi",Delhi
9830,"₹ 1,25,000","35,296 km",2017.0,Royal Enfield,Classic,"Tilak Nagar, Delhi, Delhi",Delhi

In [ ]:
#Removing the Unwanted Symbols & Changing the Datatypes
df["bike_price"]=df["bike_price"].str.replace("[\₹\,]","",regex=True)
df['km_driven']=df['km_driven'].str.replace("km","")
df['km_driven']=df['km_driven'].str.replace(",","")
df

,bike_price,km_driven,make_year,bike_name,bike_model,bike_address,state
0,45000,34361,2019.0,Bajaj,Pulsar,"Alapati Doctor Colony, Visakhapatnam, Andhra P...",AndhraPradesh
1,200000,9000,2019.0,KTM,390 Duke ABS,"MVP Colony, Visakhapatnam, Andhra Pradesh",AndhraPradesh
2,135000,17000,2019.0,KTM,Others,"NAD, Visakhapatnam, Andhra Pradesh",AndhraPradesh
3,110000,28000,1992.0,Royal Enfield,Bullet,"Vajiapalem, Visakhapatnam, Andhra Pradesh",AndhraPradesh
4,50000,51400,2015.0,Bajaj,Avenger,"Dasanna Pet, Vizianagaram, Andhra Pradesh",AndhraPradesh
...,...,...,...,...,...,...,...
9826,87500,1700,2019.0,TVS,Apache RTR,"Azadpur, Delhi, Delhi",Delhi
9827,40000,55000,2015.0,Suzuki,Gixxer,"Abul Fazal Enclave Part 1, Delhi, Delhi",Delhi
9828,80000,25000,2017.0,Yamaha,YZF R,"Ranhola, Delhi, Delhi",Delhi
9829,180000,15700,2019.0,Royal Enfield,Classic,"Mayur Vihar Phase 3, Delhi, Delhi",Delhi
9830,125000,35296,2017.0,Royal Enfield,Classic,"Tilak Nagar, Delhi, Delhi",Delhi

In [ ]:
#Adding the Row ["City"]

new =df["bike_address"].str.split(",",n=3,expand=True)
df["city"]=new[1]
df

,bike_price,km_driven,make_year,bike_name,bike_model,bike_address,state,city
0,45000,34361,2019.0,Bajaj,Pulsar,"Alapati Doctor Colony, Visakhapatnam, Andhra P...",AndhraPradesh,Visakhapatnam
1,200000,9000,2019.0,KTM,390 Duke ABS,"MVP Colony, Visakhapatnam, Andhra Pradesh",AndhraPradesh,Visakhapatnam
2,135000,17000,2019.0,KTM,Others,"NAD, Visakhapatnam, Andhra Pradesh",AndhraPradesh,Visakhapatnam
3,110000,28000,1992.0,Royal Enfield,Bullet,"Vajiapalem, Visakhapatnam, Andhra Pradesh",AndhraPradesh,Visakhapatnam
4,50000,51400,2015.0,Bajaj,Avenger,"Dasanna Pet, Vizianagaram, Andhra Pradesh",AndhraPradesh,Vizianagaram
...,...,...,...,...,...,...,...,...
9826,87500,1700,2019.0,TVS,Apache RTR,"Azadpur, Delhi, Delhi",Delhi,Delhi
9827,40000,55000,2015.0,Suzuki,Gixxer,"Abul Fazal Enclave Part 1, Delhi, Delhi",Delhi,Delhi
9828,80000,25000,2017.0,Yamaha,YZF R,"Ranhola, Delhi, Delhi",Delhi,Delhi
9829,180000,15700,2019.0,Royal Enfield,Classic,"Mayur Vihar Phase 3, Delhi, Delhi",Delhi,Delhi
9830,125000,35296,2017.0,Royal Enfield,Classic,"Tilak Nagar, Delhi, Delhi",Delhi,Delhi

In [ ]:
df.drop(columns=["bike_address"],inplace=True)

In [ ]:
df.dtypes

bike_price     object
km_driven      object
make_year     float64
bike_name      object
bike_model     object
state          object
city           object
dtype: object

In [ ]:
df.isnull().sum()

bike_price    21
km_driven     20
make_year     24
bike_name     24
bike_model    24
state          0
city          21
dtype: int64

In [ ]:
df = df.dropna()

In [ ]:
df = df.drop_duplicates()
df

,bike_price,km_driven,make_year,bike_name,bike_model,state,city
0,45000,34361,2019.0,Bajaj,Pulsar,AndhraPradesh,Visakhapatnam
1,200000,9000,2019.0,KTM,390 Duke ABS,AndhraPradesh,Visakhapatnam
2,135000,17000,2019.0,KTM,Others,AndhraPradesh,Visakhapatnam
3,110000,28000,1992.0,Royal Enfield,Bullet,AndhraPradesh,Visakhapatnam
4,50000,51400,2015.0,Bajaj,Avenger,AndhraPradesh,Vizianagaram
...,...,...,...,...,...,...,...
9826,87500,1700,2019.0,TVS,Apache RTR,Delhi,Delhi
9827,40000,55000,2015.0,Suzuki,Gixxer,Delhi,Delhi
9828,80000,25000,2017.0,Yamaha,YZF R,Delhi,Delhi
9829,180000,15700,2019.0,Royal Enfield,Classic,Delhi,Delhi
9830,125000,35296,2017.0,Royal Enfield,Classic,Delhi,Delhi

In [ ]:
df.isnull().sum()

bike_price    0
km_driven     0
make_year     0
bike_name     0
bike_model    0
state         0
city          0
dtype: int64

In [ ]:
df['km_driven']=df['km_driven'].str.replace(".","")

In [ ]:
df["km_driven"]=df["km_driven"].astype(int)

In [ ]:
df.dtypes

bike_price     object
km_driven       int32
make_year     float64
bike_name      object
bike_model     object
state          object
city           object
dtype: object

In [ ]:
df.iloc[:,1:-5]

In [ ]:
po = df.iloc[:,1:-5]
y=po.squeeze()
y

0       34361
1        9000
2       17000
3       28000
4       51400
        ...
9826     1700
9827    55000
9828    25000
9829    15700
9830    35296
Name: km_driven, Length: 9667, dtype: int32

In [ ]:
X=df.drop(columns=["km_driven"])

In [ ]:
X

,bike_price,make_year,bike_name,bike_model,state,city
0,45000,2019.0,Bajaj,Pulsar,AndhraPradesh,Visakhapatnam
1,200000,2019.0,KTM,390 Duke ABS,AndhraPradesh,Visakhapatnam
2,135000,2019.0,KTM,Others,AndhraPradesh,Visakhapatnam
3,110000,1992.0,Royal Enfield,Bullet,AndhraPradesh,Visakhapatnam
4,50000,2015.0,Bajaj,Avenger,AndhraPradesh,Vizianagaram
...,...,...,...,...,...,...
9826,87500,2019.0,TVS,Apache RTR,Delhi,Delhi
9827,40000,2015.0,Suzuki,Gixxer,Delhi,Delhi
9828,80000,2017.0,Yamaha,YZF R,Delhi,Delhi
9829,180000,2019.0,Royal Enfield,Classic,Delhi,Delhi
9830,125000,2017.0,Royal Enfield,Classic,Delhi,Delhi

In [ ]:
X_train,X_test,y_train,y_test=evalml.preprocessing.split_data(X,y,problem_type='regression')

In [ ]:
import evalml
evalml.problem_types.ProblemTypes.all_problem_types

[<ProblemTypes.BINARY: 'binary'>,
 <ProblemTypes.MULTICLASS: 'multiclass'>,
 <ProblemTypes.REGRESSION: 'regression'>,
 <ProblemTypes.TIME_SERIES_REGRESSION: 'time series regression'>,
 <ProblemTypes.TIME_SERIES_BINARY: 'time series binary'>,
 <ProblemTypes.TIME_SERIES_MULTICLASS: 'time series multiclass'>]

In [ ]:
from evalml.automl import  AutoMLSearch
automl=AutoMLSearch(X_train=X_train,y_train=y_train,problem_type='regression')
automl.search()

Using default limit of max_batches=1.

Generating pipelines to search over...

*****************************
* Beginning pipeline search *
*****************************

Optimizing for R2.
Greater score is better.

Using SequentialEngine to train and score pipelines.
Searching up to 1 batches for a total of 9 pipelines.
Allowed model families: linear_model, lightgbm, catboost, random_forest, decision_tree, extra_trees, xgboost

FigureWidget({
    'data': [{'mode': 'lines+markers',
              'name': 'Best Score',
              'type'…

Evaluating Baseline Pipeline: Mean Baseline Regression Pipeline
Mean Baseline Regression Pipeline:
	Starting cross validation
	Finished cross validation - mean R2: -0.002
	High coefficient of variation (cv >= 0.2) within cross validation scores.
	Mean Baseline Regression Pipeline may not perform as estimated on unseen data.

*****************************
* Evaluating Batch Number 1 *
*****************************

Linear Regressor w/ Imputer + One Hot Encoder + Standard Scaler:
	Starting cross validation
	Finished cross validation - mean R2: 0.030
	High coefficient of variation (cv >= 0.2) within cross validation scores.
	Linear Regressor w/ Imputer + One Hot Encoder + Standard Scaler may not perform as estimated on unseen data.
Decision Tree Regressor w/ Imputer + One Hot Encoder:
	Starting cross validation
	Finished cross validation - mean R2: -0.273
	High coefficient of variation (cv >= 0.2) within cross validation scores.
	Decision Tree Regressor w/ Imputer + One Hot Encoder may not perform as estimated on unseen data.
Random Forest Regressor w/ Imputer + One Hot Encoder:
	Starting cross validation
	Finished cross validation - mean R2: -0.052
	High coefficient of variation (cv >= 0.2) within cross validation scores.
	Random Forest Regressor w/ Imputer + One Hot Encoder may not perform as estimated on unseen data.
LightGBM Regressor w/ Imputer + One Hot Encoder:
	Starting cross validation
	Finished cross validation - mean R2: 0.055
	High coefficient of variation (cv >= 0.2) within cross validation scores.
	LightGBM Regressor w/ Imputer + One Hot Encoder may not perform as estimated on unseen data.
Elastic Net Regressor w/ Imputer + One Hot Encoder + Standard Scaler:
	Starting cross validation
	Finished cross validation - mean R2: 0.039
	High coefficient of variation (cv >= 0.2) within cross validation scores.
	Elastic Net Regressor w/ Imputer + One Hot Encoder + Standard Scaler may not perform as estimated on unseen data.
XGBoost Regressor w/ Imputer + One Hot Encoder:
	Starting cross validation
	Finished cross validation - mean R2: -0.260
	High coefficient of variation (cv >= 0.2) within cross validation scores.
	XGBoost Regressor w/ Imputer + One Hot Encoder may not perform as estimated on unseen data.
Extra Trees Regressor w/ Imputer + One Hot Encoder:
	Starting cross validation
	Finished cross validation - mean R2: -0.127
	High coefficient of variation (cv >= 0.2) within cross validation scores.
	Extra Trees Regressor w/ Imputer + One Hot Encoder may not perform as estimated on unseen data.
CatBoost Regressor w/ Imputer:
	Starting cross validation
	Finished cross validation - mean R2: 0.028
	High coefficient of variation (cv >= 0.2) within cross validation scores.
	CatBoost Regressor w/ Imputer may not perform as estimated on unseen data.

Search finished after 01:01
Best pipeline: LightGBM Regressor w/ Imputer + One Hot Encoder
Best pipeline R2: 0.055009

In [ ]:
automl.rankings

,id,pipeline_name,mean_cv_score,standard_deviation_cv_score,validation_score,percent_better_than_baseline,high_variance_cv,parameters
0,4,LightGBM Regressor w/ Imputer + One Hot Encoder,0.055009,0.020140,0.037102,2472.799677,True,{'Imputer': {'categorical_impute_strategy': 'm...
1,5,Elastic Net Regressor w/ Imputer + One Hot Enc...,0.038954,0.008788,0.029570,1780.250480,True,{'Imputer': {'categorical_impute_strategy': 'm...
2,1,Linear Regressor w/ Imputer + One Hot Encoder ...,0.030300,0.008892,0.027936,1406.996769,True,{'Imputer': {'categorical_impute_strategy': 'm...
3,8,CatBoost Regressor w/ Imputer,0.028280,0.012525,0.018437,1319.863588,True,{'Imputer': {'categorical_impute_strategy': 'm...
4,0,Mean Baseline Regression Pipeline,-0.002318,0.002719,-0.001599,0.000000,True,{'Baseline Regressor': {'strategy': 'mean'}}
5,3,Random Forest Regressor w/ Imputer + One Hot E...,-0.051760,0.031632,-0.030721,-2132.663553,True,{'Imputer': {'categorical_impute_strategy': 'm...
6,7,Extra Trees Regressor w/ Imputer + One Hot Enc...,-0.127282,0.150004,-0.269755,-5390.245665,True,{'Imputer': {'categorical_impute_strategy': 'm...
7,6,XGBoost Regressor w/ Imputer + One Hot Encoder,-0.260057,0.137575,-0.216294,-11117.433804,True,{'Imputer': {'categorical_impute_strategy': 'm...
8,2,Decision Tree Regressor w/ Imputer + One Hot E...,-0.272954,0.300098,-0.159349,-11673.736736,True,{'Imputer': {'categorical_impute_strategy': 'm...

In [ ]:
automl.best_pipeline

pipeline = RegressionPipeline(component_graph=[Imputer, OneHotEncoder, LightGBMRegressor], parameters={'Imputer':{'categorical_impute_strategy': 'most_frequent', 'numeric_impute_strategy': 'mean', 'categorical_fill_value': None, 'numeric_fill_value': None}, 'One Hot Encoder':{'top_n': 10, 'features_to_encode': None, 'categories': None, 'drop': 'if_binary', 'handle_unknown': 'ignore', 'handle_missing': 'error'}, 'LightGBM Regressor':{'boosting_type': 'gbdt', 'learning_rate': 0.1, 'n_estimators': 20, 'max_depth': 0, 'num_leaves': 31, 'min_child_samples': 20, 'n_jobs': -1, 'bagging_freq': 0, 'bagging_fraction': 0.9}}, random_seed=0)

In [ ]:
automl.describe_pipeline(automl.rankings.iloc[0]["id"])

***************************************************
* LightGBM Regressor w/ Imputer + One Hot Encoder *
***************************************************

Problem Type: regression
Model Family: LightGBM

Pipeline Steps
==============
1. Imputer
	 * categorical_impute_strategy : most_frequent
	 * numeric_impute_strategy : mean
	 * categorical_fill_value : None
	 * numeric_fill_value : None
2. One Hot Encoder
	 * top_n : 10
	 * features_to_encode : None
	 * categories : None
	 * drop : if_binary
	 * handle_unknown : ignore
	 * handle_missing : error
3. LightGBM Regressor
	 * boosting_type : gbdt
	 * learning_rate : 0.1
	 * n_estimators : 20
	 * max_depth : 0
	 * num_leaves : 31
	 * min_child_samples : 20
	 * n_jobs : -1
	 * bagging_freq : 0
	 * bagging_fraction : 0.9

Training
========
Training for regression problems.
Total training time (including CV): 6.3 seconds

Cross Validation
----------------
               R2  ExpVariance   MaxError  MedianAE            MSE       MAE  Root Mean Squared Error # Training # Validation
0           0.037        0.038 966651.133  9597.087 2737644330.718 17805.249                52322.503      5,155        2,578
1           0.077        0.081 765936.500 10503.186 1025737692.658 15715.257                32027.140      5,155        2,578
2           0.051        0.051 940542.799 10143.482 2717081551.958 17912.857                52125.632      5,156        2,577
mean        0.055        0.057 891043.477 10081.252 2160154525.111 17144.454                45491.758          -            -
std         0.020        0.022 109129.409   456.244  982487592.432  1238.890                11661.117          -            -
coef of var 0.366        0.385      0.122     0.045          0.455     0.072                    0.256          -            -

In [ ]:
best_pipeline=automl.best_pipeline

In [ ]:
best_pipeline.score(X_test,y_test,objectives=['r2'])

OrderedDict([('R2', 0.060347442180349264)])

In [ ]:
best_pipeline.save('olx.pkl')