<h2 style="color:orange"><center>PySpark</center></h2>

 - Apache Spark was written in Scala Programming to support the python Apache Introduced the PySpark [ Tool ]
 - Using the Pyspark We can also work RDD python programming also, It is because libirary called Py4j
 - RDD stands for Resilient Distributed Dataset, these are the elements that run and operate on multiple nodes to do parallel processing on a cluster. RDDs are immutable elements, which means once you create an RDD you cannot change it. RDDs are fault tolerant as well, hence in case of any failure, they recover automatically. You can apply multiple operations on these RDDs to achieve a certain task.
 - To Apply RDDS There are 2 Way's
- Transformation
- Action
 - Action:
- These are the operations, which are applied on a RDD to create a new RDD. Filter, groupBy and map are the examples of transformations.
 - Transformation:
- These are the operations that are applied on RDD, which instructs Spark to perform computation and send the result back to the driver.

![image.png](attachment:image.png)

<h4 style="color:blue">Let's start Partically</h4>

In [ ]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 55 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 68.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845513 sha256=8f9258798da62432f6bd56e88a95acdd763f7e39a02c7d954031ea00be46793e
  Stored in directory: /root/.cache/pip/wheels/42/59/f5/79a5bf931714dcd201b26025347785f087370a10a3329a899c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.getOrCreate()

In [ ]:
# DataFrame Creation

In [ ]:
from datetime import datetime,date
from pyspark.sql import Row

In [ ]:
df = spark.createDataFrame([Row(Name='Teja',Domain="DataScientist",Age=25,Salary=25000,Date =date(2000, 1, 1),Date_Time=datetime(2000, 1, 1, 12, 0)),
                     Row(Name="Tswarup",Domain="AI_Engineer",Age=28,Salary=30000,Date=date(2001,2,2),Date_Time=datetime(2001,1,1,12,0))])

In [ ]:
df

DataFrame[Name: string, Domain: string, Age: bigint, Salary: bigint, Date: date, Date_Time: timestamp]

In [ ]:
df.show(2)

+-------+-------------+---+------+----------+-------------------+
|   Name|       Domain|Age|Salary|      Date|          Date_Time|
+-------+-------------+---+------+----------+-------------------+
|   Teja|DataScientist| 25| 25000|2000-01-01|2000-01-01 12:00:00|
|Tswarup|  AI_Engineer| 28| 30000|2001-02-02|2001-01-01 12:00:00|
+-------+-------------+---+------+----------+-------------------+

In [ ]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Domain: string (nullable = true)
 |-- Age: long (nullable = true)
 |-- Salary: long (nullable = true)
 |-- Date: date (nullable = true)
 |-- Date_Time: timestamp (nullable = true)

In [ ]:
# For  Visualization

In [ ]:
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)

In [ ]:
df

DataFrame[Name: string, Domain: string, Age: bigint, Salary: bigint, Date: date, Date_Time: timestamp]

In [ ]:
df.columns

['Name', 'Domain', 'Age', 'Salary', 'Date', 'Date_Time']

In [ ]:
df.select('Name', 'Domain', 'Age', 'Salary', 'Date', 'Date_Time').describe().show()

+-------+-------+-------------+------------------+------------------+
|summary|   Name|       Domain|               Age|            Salary|
+-------+-------+-------------+------------------+------------------+
|  count|      2|            2|                 2|                 2|
|   mean|   null|         null|              26.5|           27500.0|
| stddev|   null|         null|2.1213203435596424|3535.5339059327375|
|    min|   Teja|  AI_Engineer|                25|             25000|
|    max|Tswarup|DataScientist|                28|             30000|
+-------+-------+-------------+------------------+------------------+

In [ ]:
# Display Rows

In [ ]:
df.collect()

[Row(Name='Teja', Domain='DataScientist', Age=25, Salary=25000, Date=datetime.date(2000, 1, 1), Date_Time=datetime.datetime(2000, 1, 1, 12, 0)),
 Row(Name='Tswarup', Domain='AI_Engineer', Age=28, Salary=30000, Date=datetime.date(2001, 2, 2), Date_Time=datetime.datetime(2001, 1, 1, 12, 0))]

In [ ]:
# Tail

In [ ]:
df.take(2)

[Row(Name='Teja', Domain='DataScientist', Age=25, Salary=25000, Date=datetime.date(2000, 1, 1), Date_Time=datetime.datetime(2000, 1, 1, 12, 0)),
 Row(Name='Tswarup', Domain='AI_Engineer', Age=28, Salary=30000, Date=datetime.date(2001, 2, 2), Date_Time=datetime.datetime(2001, 1, 1, 12, 0))]

In [ ]:
#PySpark DataFrame also provides the conversion back to a pandas DataFrame

In [ ]:
l=df.toPandas()

In [ ]:
l

      Name         Domain  Age  Salary        Date           Date_Time
0     Teja  DataScientist   25   25000  2000-01-01 2000-01-01 12:00:00
1  Tswarup    AI_Engineer   28   30000  2001-02-02 2001-01-01 12:00:00

In [ ]:
type(l)

pandas.core.frame.DataFrame

In [ ]:
type(df)

pyspark.sql.dataframe.DataFrame

Selecting and Accessing Data
- PySpark DataFrame is lazily evaluated and simply selecting a column does not trigger the computation but it returns a Column instance.

In [ ]:
df.columns

['Name', 'Domain', 'Age', 'Salary', 'Date', 'Date_Time']

In [ ]:
df.Name

Column<'Name'>

In [ ]:
df.select(df.Name).show()

+-------+
|   Name|
+-------+
|   Teja|
|Tswarup|
+-------+

In [ ]:
from pyspark.sql.functions import upper

In [ ]:
df.withColumn('Upper_Case',upper(df.Name)).show()

+-------+-------------+---+------+----------+-------------------+----------+
|   Name|       Domain|Age|Salary|      Date|          Date_Time|Upper_Case|
+-------+-------------+---+------+----------+-------------------+----------+
|   Teja|DataScientist| 25| 25000|2000-01-01|2000-01-01 12:00:00|      TEJA|
|Tswarup|  AI_Engineer| 28| 30000|2001-02-02|2001-01-01 12:00:00|   TSWARUP|
+-------+-------------+---+------+----------+-------------------+----------+

In [ ]:
# Filter

In [ ]:
df.filter(df.Name == "Teja").show()

+----+-------------+---+------+----------+-------------------+
|Name|       Domain|Age|Salary|      Date|          Date_Time|
+----+-------------+---+------+----------+-------------------+
|Teja|DataScientist| 25| 25000|2000-01-01|2000-01-01 12:00:00|
+----+-------------+---+------+----------+-------------------+

In [ ]:
# Grouping Data

In [ ]:
df = spark.createDataFrame([
    ['red', 'banana', 1, 10], ['blue', 'banana', 2, 20], ['red', 'carrot', 3, 30],
    ['blue', 'grape', 4, 40], ['red', 'carrot', 5, 50], ['black', 'carrot', 6, 60],
    ['red', 'banana', 7, 70], ['red', 'grape', 8, 80]], schema=['color', 'fruit', 'v1', 'v2'])
df.show()

+-----+------+---+---+
|color| fruit| v1| v2|
+-----+------+---+---+
|  red|banana|  1| 10|
| blue|banana|  2| 20|
|  red|carrot|  3| 30|
| blue| grape|  4| 40|
|  red|carrot|  5| 50|
|black|carrot|  6| 60|
|  red|banana|  7| 70|
|  red| grape|  8| 80|
+-----+------+---+---+

In [ ]:
df.groupby('color').avg().show()

+-----+-------+-------+
|color|avg(v1)|avg(v2)|
+-----+-------+-------+
|  red|    4.8|   48.0|
| blue|    3.0|   30.0|
|black|    6.0|   60.0|
+-----+-------+-------+

In [ ]:
import pyspark

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("tips.csv")
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [ ]:
# df["Randie"] =  [chr(i) for i in np.random.randint(97,123,200)]

In [ ]:
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

<h3 style="color:green">To activate Pyspark we have follow below process</h3>

![image.png](attachment:image.png)

![image.png](attachment:image.png)

![image.png](attachment:image.png)

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('practise').getOrCreate()

In [ ]:
spark

**Note :**
 - Here We are Working in Local so we are creating only one cluster if we are working in colud we can create or use more clusters
 - In Matere we can Observe Difference's.

In [ ]:
df_pyspark = spark.read.csv("tips.csv")
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string]

- We have Four Columns So it display 4

In [ ]:
df_pyspark.show()

+----------+----+------+------+---+------+----+
|       _c0| _c1|   _c2|   _c3|_c4|   _c5| _c6|
+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77|   2|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26|   5|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43|   3|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

<h4 style="color:brown">In Above We can observe columns given c0,c1,c2,c3 what is mean by c...it does in make sense right</h4>

In [ ]:
df_sp = spark.read.option('header','true').csv("tips.csv")
df_sp

DataFrame[total_bill: string, tip: string, sex: string, smoker: string, day: string, time: string, size: string]

In [ ]:
df_sp.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77|   2|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26|   5|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43|   3|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

<h4 style="color:brown">Operations</h4>

In [ ]:
type(df_sp)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_sp.head()

Row(total_bill='16.99', tip='1.01', sex='Female', smoker='No', day='Sun', time='Dinner', size='2')

In [ ]:
df_sp.printSchema()

root
 |-- total_bill: string (nullable = true)
 |-- tip: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: string (nullable = true)

- Above We Can observe even though it is Numberical it consider it is string , to slove this promblem while we are we have specify ( inferSchema = True ) in read option

In [ ]:
df_sp1 = spark.read.option('header','true').csv("tips.csv",inferSchema=True)
df_sp1

DataFrame[total_bill: double, tip: double, sex: string, smoker: string, day: string, time: string, size: int]

In [ ]:
df_sp1.printSchema()

root
 |-- total_bill: double (nullable = true)
 |-- tip: double (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: integer (nullable = true)

In [ ]:
df_sp1.columns

['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size']

In [ ]:
df_sp1.head(3)

[Row(total_bill=16.99, tip=1.01, sex='Female', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=10.34, tip=1.66, sex='Male', smoker='No', day='Sun', time='Dinner', size=3),
 Row(total_bill=21.01, tip=3.5, sex='Male', smoker='No', day='Sun', time='Dinner', size=3)]

In [ ]:
df_sp1.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [ ]:
df_sp1.select('total_bill')

DataFrame[total_bill: double]

In [ ]:
df_sp1.select('total_bill').show()

+----------+
|total_bill|
+----------+
|     16.99|
|     10.34|
|     21.01|
|     23.68|
|     24.59|
|     25.29|
|      8.77|
|     26.88|
|     15.04|
|     14.78|
|     10.27|
|     35.26|
|     15.42|
|     18.43|
|     14.83|
|     21.58|
|     10.33|
|     16.29|
|     16.97|
|     20.65|
+----------+
only showing top 20 rows

In [ ]:
df_sp1.select(['total_bill','smoker']).show()

+----------+------+
|total_bill|smoker|
+----------+------+
|     16.99|    No|
|     10.34|    No|
|     21.01|    No|
|     23.68|    No|
|     24.59|    No|
|     25.29|    No|
|      8.77|    No|
|     26.88|    No|
|     15.04|    No|
|     14.78|    No|
|     10.27|    No|
|     35.26|    No|
|     15.42|    No|
|     18.43|    No|
|     14.83|    No|
|     21.58|    No|
|     10.33|    No|
|     16.29|    No|
|     16.97|    No|
|     20.65|    No|
+----------+------+
only showing top 20 rows

In [ ]:
df_sp1["total_bill"]

Column<'total_bill'>

In [ ]:
df_sp1.describe()

DataFrame[summary: string, total_bill: string, tip: string, sex: string, smoker: string, day: string, time: string, size: string]

In [ ]:
df_sp1.describe().show()

+-------+------------------+------------------+------+------+----+------+------------------+
|summary|        total_bill|               tip|   sex|smoker| day|  time|              size|
+-------+------------------+------------------+------+------+----+------+------------------+
|  count|               244|               244|   244|   244| 244|   244|               244|
|   mean|19.785942622950824|2.9982786885245902|  null|  null|null|  null| 2.569672131147541|
| stddev| 8.902411954856857|1.3836381890011815|  null|  null|null|  null|0.9510998047322347|
|    min|              3.07|               1.0|Female|    No| Fri|Dinner|                 1|
|    max|             50.81|              10.0|  Male|   Yes|Thur| Lunch|                 6|
+-------+------------------+------------------+------+------+----+------+------------------+

In [ ]:
df_sp1.dtypes

[('total_bill', 'double'),
 ('tip', 'double'),
 ('sex', 'string'),
 ('smoker', 'string'),
 ('day', 'string'),
 ('time', 'string'),
 ('size', 'int')]

In [ ]:
## Adding column

In [ ]:
df_sp1.withColumn('tip Double',df_sp1['tip']*2)

DataFrame[total_bill: double, tip: double, sex: string, smoker: string, day: string, time: string, size: int, tip Double: double]

In [ ]:
df_sp1.withColumn('tip Double',df_sp1['tip']*2).show()

+----------+----+------+------+---+------+----+----------+
|total_bill| tip|   sex|smoker|day|  time|size|tip Double|
+----------+----+------+------+---+------+----+----------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|      2.02|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|      3.32|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|       7.0|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|      6.62|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|      7.22|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|      9.42|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|       4.0|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|      6.24|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|      3.92|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|      6.46|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|      3.42|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|      10.0|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|      3.14|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|       6.0|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|      6.04|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|      7.84|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|      3.34|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|      7.42|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|       7.0|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|       6.7|
+----------+----+------+------+---+------+----+----------+
only showing top 20 rows

In [ ]:
df_sp1.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [ ]:
df = df_sp1.withColumn('tip Double',df_sp1['tip']*2)

In [ ]:
df

DataFrame[total_bill: double, tip: double, sex: string, smoker: string, day: string, time: string, size: int, tip Double: double]

In [ ]:
df.show()

+----------+----+------+------+---+------+----+----------+
|total_bill| tip|   sex|smoker|day|  time|size|tip Double|
+----------+----+------+------+---+------+----+----------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|      2.02|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|      3.32|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|       7.0|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|      6.62|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|      7.22|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|      9.42|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|       4.0|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|      6.24|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|      3.92|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|      6.46|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|      3.42|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|      10.0|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|      3.14|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|       6.0|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|      6.04|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|      7.84|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|      3.34|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|      7.42|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|       7.0|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|       6.7|
+----------+----+------+------+---+------+----+----------+
only showing top 20 rows

In [ ]:
## Drop Columns

In [ ]:
df.columns

['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size', 'tip Double']

In [ ]:
df.drop('tip Double')

DataFrame[total_bill: double, tip: double, sex: string, smoker: string, day: string, time: string, size: int]

In [ ]:
df.drop('tip Double').show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [ ]:
df.columns

['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size', 'tip Double']

In [ ]:
df = df.drop('tip Double')

In [ ]:
df.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [ ]:
## Renaming Columns

In [ ]:
df = df.withColumnRenamed('total_bill','Bill_Cost')

In [ ]:
df

DataFrame[Bill_Cost: double, tip: double, sex: string, smoker: string, day: string, time: string, size: int]

In [ ]:
df.show()

+---------+----+------+------+---+------+----+
|Bill_Cost| tip|   sex|smoker|day|  time|size|
+---------+----+------+------+---+------+----+
|    16.99|1.01|Female|    No|Sun|Dinner|   2|
|    10.34|1.66|  Male|    No|Sun|Dinner|   3|
|    21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|    23.68|3.31|  Male|    No|Sun|Dinner|   2|
|    24.59|3.61|Female|    No|Sun|Dinner|   4|
|    25.29|4.71|  Male|    No|Sun|Dinner|   4|
|     8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|    26.88|3.12|  Male|    No|Sun|Dinner|   4|
|    15.04|1.96|  Male|    No|Sun|Dinner|   2|
|    14.78|3.23|  Male|    No|Sun|Dinner|   2|
|    10.27|1.71|  Male|    No|Sun|Dinner|   2|
|    35.26| 5.0|Female|    No|Sun|Dinner|   4|
|    15.42|1.57|  Male|    No|Sun|Dinner|   2|
|    18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|    14.83|3.02|Female|    No|Sun|Dinner|   2|
|    21.58|3.92|  Male|    No|Sun|Dinner|   2|
|    10.33|1.67|Female|    No|Sun|Dinner|   3|
|    16.29|3.71|  Male|    No|Sun|Dinner|   3|
|    16.97| 3.5|Female|    No|Sun|Dinner|   3|
|    20.65|3.35|  Male|    No|Sat|Dinner|   3|
+---------+----+------+------+---+------+----+
only showing top 20 rows

In [ ]:
# Missing Vlaues

In [ ]:
from pyspark.sql.functions import col,isnan, when, count
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]
   ).show()

+---------+---+---+------+---+----+----+
|Bill_Cost|tip|sex|smoker|day|time|size|
+---------+---+---+------+---+----+----+
|        0|  0|  0|     0|  0|   0|   0|
+---------+---+---+------+---+----+----+

In [ ]:
df.summary().show()

+-------+------------------+------------------+------+------+----+------+------------------+
|summary|         Bill_Cost|               tip|   sex|smoker| day|  time|              size|
+-------+------------------+------------------+------+------+----+------+------------------+
|  count|               244|               244|   244|   244| 244|   244|               244|
|   mean|19.785942622950824|2.9982786885245902|  null|  null|null|  null| 2.569672131147541|
| stddev| 8.902411954856857|1.3836381890011815|  null|  null|null|  null|0.9510998047322347|
|    min|              3.07|               1.0|Female|    No| Fri|Dinner|                 1|
|    25%|             13.28|               2.0|  null|  null|null|  null|                 2|
|    50%|             17.78|              2.88|  null|  null|null|  null|                 2|
|    75%|             24.08|              3.55|  null|  null|null|  null|                 3|
|    max|             50.81|              10.0|  Male|   Yes|Thur| Lunch|                 6|
+-------+------------------+------------------+------+------+----+------+------------------+

In [ ]:
df.columns

['Bill_Cost', 'tip', 'sex', 'smoker', 'day', 'time', 'size']

In [ ]:
df.select('Bill_Cost').show()

+---------+
|Bill_Cost|
+---------+
|    16.99|
|    10.34|
|    21.01|
|    23.68|
|    24.59|
|    25.29|
|     8.77|
|    26.88|
|    15.04|
|    14.78|
|    10.27|
|    35.26|
|    15.42|
|    18.43|
|    14.83|
|    21.58|
|    10.33|
|    16.29|
|    16.97|
|    20.65|
+---------+
only showing top 20 rows